@font-face {
    font-family: 'Nunito';
    src: url('~@/assets/font/Nunito-SemiBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montser';
    src: url('~@/assets/font/MontserratAlternates-ThinItalic.ttf') format("truetype");
    font-weight: 600;
  }

  
  @font-face {
    font-family: 'Roboto';
    src: url('~@/assets/font/Roboto-ThinItalic.ttf') format("truetype");
    font-style: normal;
    font-weight: 600;
  }