@mixin overal{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin IconSkills-style {
  font-size: 50px;
  margin-left: 20px;
}


@mixin baseStyle{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin findMe-style{
  background-color: rgba(60, 60, 60 , 0.4);
  margin-left: 25px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
  font-family: Roboto;
}
@mixin hover-findMe {
  background-color: rgba(210, 210, 210 , 0.4);
}
@mixin  findIcon {
  margin-right: 8px;
}
@mixin text-style($size, $weight, $color){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}



