$white-color:white;
$brown-color: brown;
$green-color:rgb(32, 117, 32);
$yellow-color:rgb(185, 185, 73);
$oranged-color:orangered;
$blue-color:rgb(71, 180, 231);
$grey-color:grey;
$lightgray-color:lightgrey;
$dimgrey-color:dimgrey;
$black-color:black;
$primary-color:rgb(145, 148, 148);
$secondary-color:rgb(54, 54, 54);
$third-color:rgba(0, 0, 0, 0.2);