@import 'font';
@import 'media';
@import 'mixin';
@import 'variables';
@import 'animations';

body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    direction: rtl;
}

*{
    margin: 0;
    padding: 0;
  }